@charset "UTF-8";

.modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
}

.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
  padding: 50px;
}

.active{
  display: block;
}

ul {
  width: 80%;
  margin: 20px auto;
  display: flex;
}

img{
  width: 100%;
}

.prev-btn,.next-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: #000;
}

.prev-btn{
  left: 2%;
}

.next-btn{
  right: 2%;
}
